/*=====================================*/
/*=======   Table of Contents   =======*/
/*=====================================*/
/*  I.   Page & Containers    | Line ?
 *  II.  Header & Nav         | Line ?
 *  III. Main Content Section | Line ?
 *  IV.  Social Links Section | Line ?
 *  V.   Footer               | Line ?
 --------------------------------------*/




/*================================*/
/*===   I. Page & Containers   ===*/
/*================================*/
* {
  box-sizing: border-box;
}

body {
  background: url('../images/circles-light.png') center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  font-size: 19px;
  margin-bottom: 105px;
  /* 105px = footer height + 30px */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}/*-------------------------------*/




/*================================*/
/*===    II. Header and Nav    ===*/
/*================================*/
header {
  background-color: #ffffff;
  border-bottom: 2px solid #777777;
  min-width: 960px;
}

#header-logo {
  display: inline;
  float: left;
  color: white;
  padding: 25px;
  font-size: 25px;
  background-color: #4aaaa5;
}

nav ul li {
  display: inline;
  float: right;
  padding: 0 10px;
  margin: 29px 0;
  font-size: 17px;
}

.nav-link {
  text-decoration: none;
  color: #777777;
}

.nav-bd-rt {
  border-right: 1px solid #777777;
}/*-------------------------------*/




/*================================*/
/*=== III. Main Content Section ==*/
/*================================*/
.content-wrapper-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-box {
  float: left;
  width: 650px;
  background-color: #ffffff;
}

.content-padding {
  padding: 30px;
}

.content-main-title {
  font-size: 30px;
  padding: 15px 0;
}

.content-paragraph {
  line-height: 150%;
  padding: 13px 0;
}

.content-hr-margin {
  margin-bottom: 15px;
}

.inline-link {
  color: red;
}

#profile-pic {
  width: 250px;
  height: 250px;
  margin: 0 15px 5px 0;
  float: left;
}/*-------------------------------*/




/*================================*/
/*=== IV. Social Links Section ===*/
/*================================*/
.social-box {
  float: right;
  width: 270px;
  background-color: #ffffff;
  text-align: center;
}

.social-title {
  font-size: 25px;
}

.social-icon {
  width: 56px;
  height: 56px;
  margin: 0 4px;
}/*-------------------------------*/




/*================================*/
/*===        V. Footer         ===*/
/*================================*/
footer {
  background-color: #666666;
  border-top: 5px solid #4aaaa5;
  height: 75px;
}

.sticky-footer {
  position: fixed;
  left: 0; right: 0; bottom: 0;
}

#footer-p {
  padding: 30px 0;
  color: #aaaaaa;
  font-size: 15px;
  text-align: center;
}/*-------------------------------